<section dir="rtl" class="relative w-full">
  <!-- Section Header -->
  <div class="mb-4 flex items-center justify-between px-1">
    <!-- Title -->
    <h2 class="text-xl font-bold tracking-tight text-gray-900">
      {{ title() }}
    </h2>

    <!-- View All -->
    <button
      type="button"
      class="text-sm font-semibold text-orange-500 transition-colors duration-200 hover:text-orange-600"
    >
      عرض الكل
    </button>
  </div>

  <!-- Horizontal MenuItems -->
  <app-horizontal-scroll
    (loadMore)="onLoadMore()"
    [hasMore]="hasMoreData()"
    [isLoading]="isLoadingMore()"
  >
    <div class="flex w-max items-stretch gap-2 md:gap-3">
      <!-- Menu Items -->
      @for (menuItem of menuItems(); track menuItem.mostrequestesId) {
        <div class="w-46 shrink-0 md:w-48">
          <app-home-menu-item-card class="block w-full" [menuItem]="menuItem" />
        </div>
      }

      <!-- Loading Skeletons -->
      @if (isLoadingMore()) {
        <app-horizontal-card-skeleton />
      }
    </div>
  </app-horizontal-scroll>
</section>
