<nav class="fixed bottom-2 left-4 right-4 z-50 rounded-full bg-white shadow-lg md:hidden">
    <ul class="flex flex-row-reverse items-center justify-between px-3 py-3">

        <!-- Home -->
        <li>
            <a routerLink="/" routerLinkActive="bg-primary-hover text-primary"
                [routerLinkActiveOptions]="{ exact: true }" #home="routerLinkActive"
                class="flex items-center gap-1 rounded-full px-2 py-2 text-gray-400 transition-all duration-700 ease-in-out">

                <span class="overflow-hidden whitespace-nowrap transition-all duration-700 ease-in-out"
                    [class.max-w-0]="!home.isActive" [class.max-w-20]="home.isActive" [class.opacity-0]="!home.isActive"
                    [class.opacity-100]="home.isActive">
                    الرئيسية
                </span>

                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                </span>
            </a>
        </li>

        <!-- Cart -->
        <li>
            <a routerLink="/cart" routerLinkActive="bg-primary-hover text-primary" #cart="routerLinkActive"
                class="flex items-center gap-1 rounded-full px-2 py-2 text-gray-400 transition-all duration-700 ease-in-out">

                <span class="overflow-hidden whitespace-nowrap transition-all duration-700 ease-in-out"
                    [class.max-w-0]="!cart.isActive" [class.max-w-20]="cart.isActive" [class.opacity-0]="!cart.isActive"
                    [class.opacity-100]="cart.isActive">
                    الطلبات
                </span>

                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 19a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M15 19a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l14 1l-1 7h-13" />
                    </svg>
                </span>
            </a>
        </li>

        <!-- Favorites -->
        <li>
            <a routerLink="/favorites" routerLinkActive="bg-primary-hover text-primary" #favorites="routerLinkActive"
                class="flex items-center gap-1 rounded-full px-2 py-2 text-gray-400 transition-all duration-700 ease-in-out">

                <span class="overflow-hidden whitespace-nowrap transition-all duration-700 ease-in-out"
                    [class.max-w-0]="!favorites.isActive" [class.max-w-20]="favorites.isActive"
                    [class.opacity-0]="!favorites.isActive" [class.opacity-100]="favorites.isActive">
                    اشتراكاتي
                </span>

                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873l-6.158 -3.245" />
                    </svg>
                </span>
            </a>
        </li>

        <!-- Offers -->
        <li>
            <a routerLink="/offers" routerLinkActive="bg-primary-hover text-primary" #offers="routerLinkActive"
                class="flex items-center gap-1 rounded-full px-2 py-2 text-gray-400 transition-all duration-700 ease-in-out">

                <span class="overflow-hidden whitespace-nowrap transition-all duration-700 ease-in-out"
                    [class.max-w-0]="!offers.isActive" [class.max-w-20]="offers.isActive"
                    [class.opacity-0]="!offers.isActive" [class.opacity-100]="offers.isActive">
                    العروض
                </span>

                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M16 17a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                        <path d="M6 7a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                        <path d="M6 18l12 -12" />
                    </svg>
                </span>
            </a>
        </li>

        <!-- Profile -->
        <li>
            <a routerLink="/profile" routerLinkActive="bg-primary-hover text-primary" #profile="routerLinkActive"
                class="flex items-center gap-1 rounded-full px-2 py-2 text-gray-400 transition-all duration-700 ease-in-out">

                <span class="overflow-hidden whitespace-nowrap transition-all duration-700 ease-in-out"
                    [class.max-w-0]="!profile.isActive" [class.max-w-20]="profile.isActive"
                    [class.opacity-0]="!profile.isActive" [class.opacity-100]="profile.isActive">
                    الحساب
                </span>

                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                    </svg>
                </span>
            </a>
        </li>

    </ul>
</nav>