<div class="form-group" dir="rtl">
  @if (label()) {
    <label class="form-label">
      {{ label() }}
    </label>
  }

  <div class="select-wrapper" [class.is-disabled]="disabled">
    <select
      [value]="value"
      [disabled]="disabled"
      (change)="onSelect($event)"
      (blur)="onBlur()"
      class="form-select">

      <option value="" disabled selected>
        {{ placeholder() }}
      </option>

      @for (option of options(); track option.value) {
        <option [value]="option.value">
          {{ option.label }}
        </option>
      }
    </select>

    <span class="select-icon">
      <span class="material-symbols-sharp select-none leading-none text-[22px]">
        expand_more
      </span>
    </span>
  </div>
</div>