<section dir="rtl" class="mx-auto px-8 pt-4  bg-white">

    <!-- Header -->

    <div class="mb-6">

        <h1 class="text-2xl font-bold text-gray-900">
            {{ title() }}
        </h1>

        <p class="mt-1 text-sm text-gray-500">
            اكتشف المطاعم المتاحة
        </p>

    </div>


    <!-- Restaurants Grid -->

    <div class="grid grid-cols-[repeat(auto-fit,minmax(240px,1fr))] gap-5">

        @for (restaurant of restaurants(); track restaurant.id ) {

        <app-restaurant-item [restaurant]="restaurant" />

        }
    </div>

</section>