/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@import "@fontsource/cairo/400.css";
@import "@fontsource/cairo/500.css";
@import "@fontsource/cairo/600.css";
@import "@fontsource/cairo/700.css";


/* =========================
   Design Tokens
========================= */

@theme {
    --color-primary: #F97316;
    --color-primary-hover: #FFF7ED;

    --color-text: #111827;
    --color-text-secondary: #F9731626;

    --color-background: #F8F9FA;
    --color-surface: #F3F4F5;

    --color-border: #e5e7eb;
}


/* =========================
   Global Reset
========================= */

body {
    min-width: 320px;
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: "Cairo", sans-serif;

}

/* =========================
    Global Elements
========================= */

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}